@model MyHotelApp.ViewModels.ReservationFormViewModel
@{
    ViewBag.Title = "ReservationForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reservation Form</h2>

@using (Html.BeginForm("SaveReservation", "GuestMember"))
{
    if (!Request.IsAuthenticated)
    {
        <div class="form-group">
            @Html.LabelFor(Model => Model.GuestAccount.Name) <br/>
            @Html.EditorFor(Model => Model.GuestAccount.Name) <br /><br />

            @Html.LabelFor(Model => Model.GuestAccount.AddressLine1)<br />
            @Html.EditorFor(Model => Model.GuestAccount.AddressLine1)<br /><br />

            @Html.LabelFor(Model => Model.GuestAccount.AddressLine2)<br />
            @Html.EditorFor(Model => Model.GuestAccount.AddressLine2)<br /><br />

            @Html.LabelFor(Model => Model.GuestAccount.City)<br />
            @Html.EditorFor(Model => Model.GuestAccount.City)<br /><br />

            @Html.LabelFor(Model => Model.States)<br />
            @Html.DropDownListFor(Model => Model.GuestAccount.StateId, new SelectList(Model.States, "Id", "Name"), "Select State", new { @class = "form-control"})<br />
    
            @Html.LabelFor(Model => Model.GuestAccount.ZipCode)<br />
            @Html.EditorFor(Model => Model.GuestAccount.ZipCode)<br />
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(Model => Model.CheckInDateTime)<br />
        @Html.EditorFor(Model => Model.CheckInDateTime, new { htmlAttributes = new { @class = "datepicker" } })<br /><br />

        @Html.LabelFor(Model => Model.CheckOutDateTime)<br />
        @Html.EditorFor(Model => Model.CheckOutDateTime, new { htmlAttributes = new { @class = "datepicker" } })<br /><br />

        @Html.LabelFor(Model => Model.RoomTypes)<br />
        @Html.DropDownListFor(Model => Model.Reservation.RoomTypeId, new SelectList(Model.RoomTypes, "Id", "Type"), "Select Desired Room Type", new { @class = "form-control" })
    </div>

    <form action="your-server-side-code" method="POST">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
                data-amount="19900"
                data-name="Stripe.com"
                data-description="Widget"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto"
                data-zip-code="true">
        </script>
    </form>
}


<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "mm-dd-yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "2018:2020"
            });

        });
    </script>
}
