
@model MyHotelApp.Models.RoomType
@{
    ViewBag.Title = "CreateRoomType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Rooms</h2>

@using (Html.BeginForm("Save", "Administrator"))
{
    <div class="form-group">
        @Html.LabelFor(Model => Model.Quantity)
        @Html.TextBoxFor(Model => Model.Quantity, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(Model => Model.Type)
        @Html.TextBoxFor(Model => Model.Type, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(Model => Model.Description)
        @Html.TextBoxFor(Model => Model.Description, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(Model => Model.Cost)
        @Html.TextBoxFor(Model => Model.Cost, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Done", "HotelEntryForm", "Administrator", null, new { @class = "btn btn-primary" })
}


