@model  MyHotelApp.ViewModels.ReservationsByDateViewModel

@{
    ViewBag.Title = "SeeAllReservationsTable";
    Layout = "~/Views/Employee/_EmployeeLayout.cshtml";
}



<h2>All Reservations</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Guest Name</th>
            <th>Room Number</th>
            <th>Check In Date</th>
            <th>Check Out Date</th>
            <th> Check in Guest</th>
            <th>id</th>
            <th>Checked in?</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var el in Model.Reservations)
        {
        <tr>

            <td>@Model.GuestAccounts.FirstOrDefault(g => g.Id == el.GuestAccountId).Name</td>
            <td>@el.RoomId</td>
            <td>@String.Format("{0: M/d/yyyy}", el.CheckIn)</td>
            <td>@String.Format("{0: M/d/yyyy}", el.CheckOut)</td>

            <td>
                @Html.ActionLink("Check In", "CheckInGuest", "Employee", new { id = el.Id }, new { @class = "btn btn-primary" })
            </td>
            <td>@el.Id</td>
            <td>
                @el.CheckedIn
            </td>
        </tr>
        }
    </tbody>
</table>