@model  MyHotelApp.ViewModels.ReservationsByDateViewModel

@{
    ViewBag.Title = "SeeAllReservationsTable";
    Layout = "~/Views/Employee/_EmployeeLayout.cshtml";
}



<h2>All Reservations</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>See Details</th>
            <th>Guest Name</th>
            <th>Room Number</th>
            <th>Check In Date</th>
            <th>Check Out Date</th>
            <th>Status</th>
            <th>Change Status</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var el in Model.Reservations)
        {
            <tr>
                <td>@Html.ActionLink("See Details", "SeeReservationDetails", "Employee", new { id = el.Id }, new { @class = "btn btn-primary" })</td>

                @if (el.GuestAccountId != null)
                {
                    <td>@Model.GuestAccounts.FirstOrDefault(g => g.Id == el.GuestAccountId).Name</td>
                }
                else
                {
                    <td>No associated name</td>
                }
                <td>@el.RoomId</td>
                <td>@String.Format("{0: M/d/yyyy}", el.CheckIn)</td>
                <td>@String.Format("{0: M/d/yyyy}", el.CheckOut)</td>

                @if (el.CheckedIn == true)
                {
                    <td>
                        Checked In
                    </td>
                }

                else
                {
                    <td>Not Checked In</td>
                }


                @if (el.CheckedIn == false)
                {
                    <td>
                        @Html.ActionLink("Check In", "CheckInGuest", "Employee", new { id = el.Id }, new { @class = "btn btn-primary" })
                    </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("Check Out", "CheckOutGuest", "Employee", new { id = el.Id }, new { @class = "btn btn-primary" })
                    </td>
                }
            </tr>
        }
    </tbody>

</table>

<h2>See Reservations For a Given Date</h2>

@using (Html.BeginForm("SeeReservations", "Employee"))
{
    <div class="form-group">
        @Html.LabelFor(Model => Model.SearchReservationsViewModel.CheckInDate)
        @Html.EditorFor(Model => Model.SearchReservationsViewModel.CheckInDate, new { htmlAttributes = new { @class = "datepicker" } })
    </div>


    <button type="submit" class="btn btn-primary">See All Reservations</button>

}


<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />


@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                yearRange: "2018:2020"
            });

        });
    </script>
}

@*@Html.Partial("SearchReservationsByDate", Model.SearchReservationsViewModel)*@